body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    margin: 0px;
    justify-content: space-between;
}

.section-top-bar {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 10px 150px;
}

.section-top-bar img {
    height: 40px;
}

ul {
    display: flex;
}

li,
li a {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    text-decoration: none;
    margin-right: 10px;
}

.section-main {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
}

.section-main img {
    height: 400px;
}

.main-left p {
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.section-information {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}

.information {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #1F2937;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
}

.information div {
    width: 300px;
    text-align: center;
}

.section-quote {
    display: flex;
    background-color: #E5E7EB;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 50px 300px;
}

.section-quote div {
    display: flex;
    flex-direction: column;
}

.section-quote .quote {
    font-size: 30px;
    font-style: normal;
    font-weight: 0;
}

.section-quote .author {
    font-size: 18px;
    font-weight: bolder;
    align-self: flex-end;
}

.section-contact {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 50px 150px;
}

.contact-container {
    display: flex;
    background-color: #3882F6;
    padding: 25px 50px;
    align-items: center;
    justify-content: space-between;
}

.contact-container h3 {
    color: white;
    font-weight: extra-bold;
}

.contact-container p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    width: 100px;
    padding: 5px;
}

.section-main button {
    border-style: none;
}

.section-contact button {
    margin: 30px 0px 30px 50px;
}

.section-footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 14px;
    padding: 5px;
}